.mb-img-input{
    width: 100%;
    padding: 11px 12px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 14px;
    color: #202124;
    transition: border .2s ease
}

.mb-input {
    border: 1px solid black;
    padding: 7px;
    outline: none;
    border-radius: 4px;
}

.mb-input:focus {
    border: 1px solid var(--primay-clr);
}
